# Copy the file to .env and fill in the values

DISCORD_TOKEN=

PARSER_SEGA_ID=
PARSER_SEGA_PW=

# This is for the link the bot sends
WEB_URL_BASE=
# This is the underlying API URL the bot uses to fetch data
WEB_API_URL_BASE=